[user]
	email = will@roden.cc
	name = Will Roden
[hub]
protocol = https

[core]
	excludesfile = "~/.gitignore_global"
	autocrlf = input
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[github]
	user = WillAbides
[credential]
	helper = store
[http]
	sslVerify = true
	cookiefile = "~/.gitcookies"
[alias]
	co = checkout
	br = branch
	pr =  "!f(){ PR=$1; BRANCH=${2:-"pr/$PR"}; git fetch origin pull/$PR/head:$BRANCH; git checkout $BRANCH; };f"
[init]
	defaultBranch = main
